<form action='{% url "tracker:post_expense" %}' method="post" id="expense_form">
    <div class="input-group mb-3">
        <span class="input-group-text">Title</span>
        <input type="text" aria-label="Title" class="form-control" id="expense_title" name="expense_title">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" id="expense_amount" name="expense_amount" max="999999" required>
        <span class="input-group-text">.00</span>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="expense_category">Category</label>
        <select class="form-select" id="expense_category" name="expense_category">
          <option selected>Choose...</option>
          
        </select>
      </div>
    
    {% csrf_token %}
    <br>
    <div class="col-auto">        
        <button type="submit" class="btn btn-primary form-control" id="expense_submit">Save</button>
    </div>
</form>